{% extends 'base.html' %}
{% block title %} Create a new Category  {% endblock %}
{% block content %}



<style>
  
  footer {
    text-align: center;
    padding: 3px;
    background-color: black;
    color: white;
  }
  h1 {
    background: linear-gradient( 90deg, rgba(246, 114, 128, 0.6) , rgba(255, 255, 255, 0.6));
    border-left:20px #dd6673 solid;
    color: #444;font-family: 'Pacifico', cursive;
    line-height: 28px;
    padding: 15px 0px 15px 20px;
    text-align: center; 
  }
  .navbar{
    background-color: crimson !important;
  }
  .nav-link{
    font-weight: 600;
    color:aliceblue !important;
  }
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
} 
  footer {
    margin-top: auto;
    text-align: center;
    padding: 3px;
    background-color: black;
    color: white;
  }


</style>



<br><br>
<h1>Add Category.......</h1>
 
{% if user.is_authenticated %}
<div class="container ">
<br/><br/><br/><br/>

<div class='form-group text-center'>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p}}<br/>
        <button class="btn btn-secondary">Add Category</button>
        </form>
</div>
</div>
{% else %}

You are not authenticated

{% endif %}
{% endblock %}
