{% extends 'base.html' %}
{% block title %} Edit blog post  {% endblock %}
{% block content %}

 
{% if user.is_authenticated %}
{% if user.id  ==  post.author.id %}

<style>footer {
    text-align: center;
    padding: 3px;
    background-color: black;
    color: white;
  }
  h1 {
    background: linear-gradient( 90deg, rgba(246, 114, 128, 0.6) , rgba(255, 255, 255, 0.6));
    border-left:20px #dd6673 solid;
    color: #444;font-family: 'Pacifico', cursive;
    line-height: 28px;
    padding: 15px 0px 15px 20px;
    text-align: center; 
  }
  .navbar{
    background-color: crimson !important;
  }
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
} 
  footer {
    margin-top: auto;
    text-align: center;
    padding: 3px;
    background-color: black;
    color: white;
  }
  .nav-link{
    font-weight: 600;
  }
</style>

<br/><br/>

<h1>Delete Post.......</h1>
<div class="container">

<br/><br/>

<div class='form-group'>
    <form action="" method="POST">
        {% csrf_token %}
<p style="font-size: 17px;">Are you sure you want to delete<span style="color: red;"> {{ post.title }}</span> post?<p><br><br>
        <button class="btn btn-secondary">Delete Post</button>  <a  class="btn btn-secondary" href="{% url 'home' %}">Back</a>
        </form>
</div>
</div>

{% else %}
You are not authenticated
{% endif %}


{% else %}

You are not authenticated

{% endif %}
{% endblock %}
